<div class="container">
    <div class="row mt-3">
        <h3> Being Me </h3>
        <section>
            <div class="row">
                <div class="col-md-4">
                    <h3>Basic Details</h3>
                    <b>Price:</b><span>26$</span>
                    <br>
                    <b>Total Supply:</b><span>250</span>
                    <br>
                    <b>Collection Type:</b><span>NANO NFT</span>
                    <br>
                    <b>Platform:</b><span>WazirX NFT Marketplace</span>
                </div>
                <div class="col-md-4">
                    <img src="assets/PFP/arijit.png" alt="" width="150px">
                </div>
                <div class="col-md-4">
                    <h3>Rarity</h3>
                   <p>
                       Common - 125
                       <br>
                       Uncommon - 75
                       <br>
                       Rare - 30
                       <br>
                       Super rare - 20
                   </p>
                </div>
            </div>
        </section>
        <!-- <img src="assets/beingme.png" alt="Being Me - Road Map"> -->
        <section>
            <div class="container">
                <h3 class="centre">Roadmap</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-timeline">
                            <div class="timeline">
                                <div class="timeline-content">
                                    <h3 class="title">25% Milestone</h3>
                                    <ul>
                                        <li>
                                            25 Merchandise Giveaway
                                        </li>
                                        <li>
                                            Community Wallet - $1000 in BNB
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <h3 class="title">50% Milestone</h3>
                                    <ul>
                                        <li>
                                            25 Merchandise Giveaway
                                        </li>
                                        <li>
                                            Create $LOGIC Token
                                        </li>
                                        <li>
                                            NOTHING EAR - Bluetooth Headset
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <h3 class="title">75% Milestone</h3>
                                    <ul>
                                        <li>
                                            25 Merchandise Giveaway
                                        </li>
                                        <li>
                                            Community Wallet - $1000 in ETH
                                        </li>
                                        <li>
                                            NOTHING EAR - Bluetooth Headset
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <h3 class="title">100% Milestone</h3>
                                    <ul>
                                        <li>
                                            25 Merchandise Giveaway
                                        </li>
                                        <li>
                                            Add and Lock liquidity to $LOGIC token
                                        </li>
                                        <li>
                                            NOTHING EAR - Bluetooth Headset
                                        </li>
                                        <li>
                                            Amazon / Flipkart Voucher (3 Giveaway per month for one year)
                                        </li>
                                        <li>
                                            10 NFT Giveaway to LOGICAL FRIENDS
                                        </li>
                                        <li>
                                            25 Merchandise Giveaway to LOGICAL FRIENDS
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h3>Terms and Conditions</h3>
            <ul>
                <li>
                    
                </li>
            </ul>
        </section>
    </div>
</div>