<!-- <div class="container">
    <div class="row text-center px-2 mt-3">
        <h3> Spotlight Artists </h3>
        <img src="assets/sla_banner.jpg" alt="Spotlight Artists" class="banner p-0" routerLink="sla">
    </div>
    <hr />
    <div class="row text-center px-2 mt-3">
        <h3> Fundraiser </h3>
        <img src="assets/fundraiser_banner.jpg" alt="Fundraiser" class="banner p-0" routerLink="fundraiser">
    </div>
</div> -->

<section class="projects">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-12 my-2">
                <img src="assets/projects/sla.png" alt="Spot Light Artist"
                class="banner-img" routerLink="/projects/sla">
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-2">
                <img src="assets/projects/bm_fundraiser.png" alt="Fundraiser"
                class="banner-img" routerLink="/projects/fundraiser">
            </div>
        </div>
    </div>
</section>