<div class="py-2 copyrights">
    <section class="container">
        <div class="row">
            <div class="text-center align-self-center col-8">
                Copyright © 2022 Logical Friends - All Rights Reserved.
            </div>
            <div class="text-center col-4">
                <button type="button" class="btn btn-outline-light m-1"
                    (click)="openSocials('https://www.behance.net/logicalfriends')">
                    <span class="fa-brands fa-behance"></span>
                </button>
                <button type="button" class="btn btn-outline-light m-1"
                    (click)="openSocials('https://discord.com/invite/rCBTrb2aGJ')">
                    <span class="fa-brands fa-discord"></span>
                </button>
                <button type="button" class="btn btn-outline-light m-1"
                    (click)="openSocials('https://www.instagram.com/logical__friends')">
                    <span class="fa-brands fa-instagram"></span>
                </button>
                <button type="button" class="btn btn-outline-light m-1"
                    (click)="openSocials('https://twitter.com/friends_logical')">
                    <span class="fa-brands fa-twitter"></span>
                </button>
            </div>
        </div>
    </section>
</div>