<div class="mint-popup" *ngIf="show">
    <button class="popup-close" (click)="show = false">Close X</button>
    <div class="mint-popup-top">
        <img src="../../assets/homepage/beingme3.gif" alt="" >
    </div>
    <div class="mint-popup-bottom d-flex justify-content-center flex-column">
        <strong class="heading align-self-center">BEING ME</strong>
        <b class="text align-self-center">Fundraiser Project by LFG</b>
        <button class="mint-button align-self-center" (click)="openMintPage()">Mint Now</button>
    </div>
</div>