<lfg-navigation-bar></lfg-navigation-bar>
<section class="projects">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-12 my-2">
                <img src="assets/projects/sla.png" alt="Spot Light Artist" class="banner-img"
                    routerLink="/sla">
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-2">
                <img src="assets/projects/bm_fundraiser.png" alt="Fundraiser" class="banner-img"
                    routerLink="/fundraiser">
            </div>
        </div>
    </div>
</section>
<lfg-copyrights></lfg-copyrights>