/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #1F1F1F !important;
}

.banner {
    border-radius: 30px;
    cursor: pointer;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        box-shadow: 0px 0px 15px;
        transform: scale(1.01);
        transition: 0.5s;
    }
}

.banner-img {
    max-width: 300px;
    border-radius: 25px;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
        transition-duration: 0.5s;
        box-shadow: 0px 0px 10px wheat;
    }
}