.homepage-top {
    background-image: url('../../assets/homepage/top_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 60vh;
}

.motto {
    font-size: 0.9rem;
    color: #FC8B28;
}

.lfg-btn {
    background: #FC8B28;
    // background: linear-gradient(270deg, #f78f34, #ff7700);
    color: white;
    border-radius: 20px;
    font-weight: 600;

    &:hover {
        background: #FF7700;
        // background: linear-gradient(90deg, #f78f34, #ff7700);
    }
}

.homepage-bottom {
    background-image: url('../../assets/homepage/bottom_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    min-height: calc(40vh - 62px);
    display: flex;
    align-items: center;
}

.homepage {
    background-color: #1B1B1B;
}

.team-cards {
    text-align: center;

    &:hover {
        transform: scale(1.02);
        transition-duration: 0.5s;
        box-shadow: 0px 0px 10px;
    }
}

// @keyframes slideInFromRight {
//     0% {
//       transform: translateX(25%);
//     }
//     100% {
//       transform: translateX(0);
//     }
//   }

//   .lfg-sticker {
//     animation: 2s ease-out 2s infinite slideInFromRight;
//   }