<div class="mb-3 mt-3 container">
    <div class="row g-0">
        <div class="col-md-4 align-self-center ">
            <img src="assets/logo-METTALIC_BW.png" class="img-fluid rounded-start" alt="Logical Friends"
            >
        </div>
        <!-- <div class="col-md-2"></div> -->
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">
                    Welcome to the <strong>LOGICAL FRIENDS</strong>
                </h3>
                <h4 class="card-title mb-3">
                    By the community for the community.
                </h4>
                <p class="card-text">
                    We the community of artists & collectors believe in the power of standing together.
                    So in the pursuit of helping fellow artists, Logical Friends have come up with the initiative to
                    make art both fun & rewarding and not a daily struggle.
                </p>
                <p class="card-text">
                    <b> Our Vision: </b> To help budding & struggling artists on the WazirX NFT Marketplace by creating
                    a positive & supportive
                    community, where we empower each other & grow together.
                </p>
                <p class="card-text">
                    This space will also help kickstart the secondary market sales.
                </p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
    </div>
    <hr />
    <div class="row text-center px-2">
        <h3> Projects </h3>
        <img src="assets/COVER-white.gif" alt="Projects Banner" class="banner p-0"
        routerLink="/projects">
    </div>
    <hr />
    <div class="row text-center px-2">
        <h3> Team </h3>
        <img src="assets/LOGICAL-FRIENDS-COVER.gif" alt="Team Banner" class="banner p-0"
        routerLink="/team">
    </div>
    <hr />
    <div class="row text-center px-2">
        <h3> Gallery </h3>
        <img src="assets/COVER-white.gif" alt="Gallery Banner" class="banner p-0"
        (click)="openSocials('https://spatial.io/s/LFG-Gallery-1-62778c4a5c8a2e0001d0ded2?share=4779105248392171427')">
    </div>
</div>