.team-cards {
    text-align: center;

    &:hover {
        transform: scale(1.02);
        transition-duration: 0.5s;
        box-shadow: 0px 0px 10px wheat;
    }
}

.team {
    background-image: url('../../assets/team/team_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    min-height: calc(100vh - 83.7px - 62px);
    display: flex;
    align-items: center;
}