<div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4 m-2">
    <div class="col">
        <div class="card team-cards">
            <img src="assets/joswin.jpeg" class="card-img-top" alt="Joswin">
            <div class="card-body">
                <h5 class="card-title">Joswin</h5>
                <button type="button" class="btn btn-outline-dark mx-1"
                    (click)="openSocials('https://www.instagram.com/patho_logical_doctor')">
                    <span class="fa-brands fa-instagram"></span>
                </button>
                <button type="button" class="btn btn-outline-dark mx-1"
                    (click)="openSocials('https://twitter.com/Dr_Patho_logic')">
                    <span class="fa-brands fa-twitter"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card team-cards">
            <img src="assets/kailas.jpeg" class="card-img-top" alt="Kailas">
            <div class="card-body">
                <h5 class="card-title">Kailas</h5>
                <button type="button" class="btn btn-outline-dark mx-1"
                    (click)="openSocials('https://www.instagram.com/yellow_n_musk')">
                    <span class="fa-brands fa-instagram"></span>
                </button>
                <button type="button" class="btn btn-outline-dark mx-1"
                    (click)="openSocials('https://twitter.com/yellownmusk')">
                    <span class="fa-brands fa-twitter"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card team-cards">
            <img src="assets/pranap.jpeg" class="card-img-top" alt="Pranap">
            <div class="card-body">
                <h5 class="card-title">Pranap</h5>
                <button type="button" class="btn btn-outline-dark mx-1"
                    (click)="openSocials('https://www.instagram.com/vector_nft_')">
                    <span class="fa-brands fa-instagram"></span>
                </button>
                <button type="button" class="btn btn-outline-dark mx-1"
                    (click)="openSocials('https://twitter.com/pranapsivadasan')">
                    <span class="fa-brands fa-twitter"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card team-cards">
            <img src="assets/gokul.jpeg" class="card-img-top" alt="Gokul">
            <div class="card-body">
                <h5 class="card-title">Gokul</h5>
                <button type="button" class="btn btn-outline-dark mx-1"
                    (click)="openSocials('https://www.instagram.com/the_nft_drive')">
                    <span class="fa-brands fa-instagram"></span>
                </button>
                <button type="button" class="btn btn-outline-dark mx-1"
                    (click)="openSocials('https://twitter.com/NFT_drive')">
                    <span class="fa-brands fa-twitter"></span>
                </button>
            </div>
        </div>
    </div>
</div>